<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="matrix-container">
        <canvas id="matrix-canvas"></canvas>
        <div id="video-container" class="video-container">
            <button id="playButton" class="pill">Play ▶ Aqui </button>
        </div>
        <div class="pill-container">
            <button id="red-pill" class="pill red-pill" onclick="redirectToConfirmation()">Píldora Roja</button>
            <button id="blue-pill" class="pill blue-pill" onclick="redirectToInvitation()">Píldora Azul</button>
            <audio id="background-audio" src="https://your-bucket.s3.amazonaws.com/audio/Fondo.mp3" preload="auto"></audio>
        </div>
    </div>
   

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
