<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitación de Boda - Matrix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles1.css') }}">
</head>
<body>
    <div class="container">
        <div id="typing-text" class="typing-text"></div>
        <div class="pill-container">
            <button id="devolver" class="devolver" onclick="devolver()">Devolverme</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='typing.js') }}"></script>
</body>
</html>
